BasedOnStyle: Google
IndentWidth: 2
ColumnLimit: 100
Standard: Auto
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Inline
PointerAlignment: Right
SpaceBeforeParens: ControlStatements
SortIncludes: true
